.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #000000, #2e7cff);
}

.forgot-password-container form {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    background-color: #000; /* Тёмный фон, как в форме регистрации */
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
