/* Контейнер формы */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #000000, #2e7cff);
}

/* Стили формы */
.register-container form {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    background-color: #000; /* Темный фон */
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.form-group input, .form-group select {
    width: 100%;
    margin-top: 0.5em;
    height: 44px; /* Общая высота для всех элементов */
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
    box-sizing: border-box;
    outline: none;
}

/* Кнопки */
.submit-button {
    display: block; /* Убедимся, что кнопки занимают всю ширину родителя */
    width: 100%;
    padding: 0.8em;
    text-align: center; /* Текст по центру */
    background-color: #4caf50; /* Зеленый цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-button:hover {
    background-color: #367c39;
}

.back-home-button {
    background-color: #3578e5;
}



/* Логотип */
.logo {
    width: 120px;
    height: auto;
    margin-bottom: 1em;
}

/* Адаптивность */
@media (max-width: 768px) {
    .register-container form {
        padding: 1em;
    }

    .form-group input, .form-group select,
    .submit-button {
        font-size: 1em;
    }
}
