.container {
    width: 100%;
    max-width: 500px; /* Широкий контейнер */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Общие стили для input и button */
input[type="email"],
input[type="password"],
button {
    width: 100%; /* Полная ширина */
    padding: 12px;
    margin-bottom: 8px; /* Уменьшенный отступ между элементами */
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Учитываем padding */
    font-size: 1em;
}

/* Стили для кнопок */
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

/* Кнопка возврата */
.back-home-button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-top: 8px; /* Меньший отступ сверху */
    font-size: 1em;
}

.back-home-button:hover {
    background-color: #0069d9;
}
