.success-message {
    margin-top: 10px;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    font-size: 0.9em;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Стилизация формы */
.email-update-form {
    display: flex;
    flex-direction: column;
}

.email-update-form input[type=email],
.email-update-form button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Устанавливаем box-sizing */
}

.email-update-form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.email-update-form button:hover {
    background-color: #218838;
}

/* Стили для кнопки возврата */
.back-home-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: block; /* Делаем кнопку блочным элементом для полной ширины */
    margin-top: 10px; /* Добавляем отступ сверху */
}

.back-home-button:hover {
    background-color: #0069d9;
}
